---
import Icon from '@components/Icons/Icon.astro';
import { useLangContext } from "@lib/i18n/useLangContext";
import styles from './ctaCallbackForm.module.scss';

const { siteContent } = useLangContext(Astro);

const infos = siteContent.interactions.callback;

const { class: customClass } = Astro.props as { class?: string };
const combinedClass = [styles.form, customClass].filter(Boolean).join(" ");


---

<form class={combinedClass} data-cta-callback>
  <label class={styles.visuallyHidden} for={infos.fields.phone.id}>
    {infos.triggerLabel}
  </label>
  <input
    id={infos.fields.phone.id}
    name={infos.fields.phone.label}
    type={infos.fields.phone.type}
    required={infos.fields.phone.required}
    pattern={infos.fields.phone.pattern}
    placeholder={`${infos.fields.phone.placeholder}${infos.fields.phone.required ? "*" : ""}`}
  />

  <button class={styles.submitButton} type="submit">
    <span aria-hidden="true" class={styles.icon}>
      <Icon type="phone" color="var(--color-base-content)" />
    </span>
    {infos.submitLabel}
  </button>
</form>


<script src="./ctaCallbackForm.client.ts"></script>