---
import Icon from "@components/Icons/Icon.astro";
import type { CtaAction } from "@app-types/cta";
import styles from "./actionButton.module.scss";

const {
  label,
  href,
  icon,
  iconProps = {},
  target,
  rel,
  class: customClass,
} = Astro.props as CtaAction & { class?: string };
const combinedClass = [styles.card, customClass].filter(Boolean).join(" ");
---

<a href={href} class={combinedClass} target={target} rel={rel}>
  {
    icon && (
      <span class={styles.icon} aria-hidden="true">
        <Icon type={icon} {...iconProps} />
      </span>
    )
  }
  <span class={styles.label}>{label}</span>
</a>