---
import SectionHeader from "@components/UI/SectionHeader.astro";
import Spacer from "@components/UI/Spacer.astro";
import type { FAQSectionProps } from "@app-types/faq";
import styles from "./faqSection.module.scss";

const { title, description, questions } = Astro.props as FAQSectionProps;
---

<section class={`section-container ${styles.root}`}>
  <SectionHeader
    class={styles.header}
    title={title}
    description={description}
    headingLevel="h2"
    as="header"
  />
  <div class={styles.accordion}>
    {
      questions.map(({ question, answer }) => (
        <details class={styles.item}>
          <summary class={styles.summary}>
            <span>{question}</span>
          </summary>
          <div class={styles.answer}>
            <p>{answer}</p>
          </div>
        </details>
      ))
    }
  </div>

  <Spacer size="2rem" />
</section>
